

.star-rating-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box
{
    display: flex;
    gap: 10px;
}

.star
{
    font-size: 40px;
}

.star.active
{
    color: yellow;
}